doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/item_list.css')
    link(rel='stylesheet', href='/stylesheets/item_detail.css')
    link(rel='stylesheet', href='/stylesheets/item_delete.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@400;600;700&family=Open+Sans:wght@300;400;600;700&family=Raleway&display=swap" rel="stylesheet")
    script(src="/scripts/script.js")
    title= "GameGo | " + title
  body
    .header
      .header-content
        a(href="/shop").logo
          span Game
          span.red Go
        a(href="/shop/games") GAMES
        a(href="/shop/gameconsoles") CONSOLES
        a(href="/shop/accessories") ACCESSORIES
    block content
    .info-bar
      .info-item
        img.info-icon(src="/images/truck.svg")
        .info-texts
          div FREE SHIPPING
          div on all orders $50+
      .info-item
        img.info-icon(src="/images/money.svg")
        .info-texts
          div CASH ON DELIVERY
          div Opt to pay on receipt of your order
      .info-item
        img.info-icon(src="/images/arrow-counter-clockwise.svg")
        .info-texts
          div 45 DAY RETURN
          div Returns are free of charge
      .info-item
        img.info-icon(src="/images/clock.svg")
        .info-texts
          div OPEN 7 DAYS A WEEK
          div 8AM - 9PM
    .footer 
      div 
        | Made by 
        a(href="https://www.clarencechan.dev") Clarence Chan
        |  using MongoDB, Express, and Node. 
      div 
        | View the code at this project's 
        a(href="https://github.com/clarencechaan/inventory-app") GitHub repo.
    .admin-window
      .label 
        span ADMIN ACTIONS
      .admin-window-content
        div
          span Add New:
          a(href="/shop/game/create") Game
          a(href="/shop/gameconsole/create") Console
          a(href="/shop/accessory/create") Accessory
        div(class= category === "game" || category === "gameconsole" || category === "accessory" ? "current-item-btns" : "current-item-btns disabled")
          span Current Item:
          a(href= item ? item.url : "") View
          a(href= item ? item.url + "/update" : "") Update
          a(href= item ? item.url + "/delete" : "").delete-btn Delete
