doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@400;600;700&family=Open+Sans:wght@400;600;700&family=Raleway&display=swap" rel="stylesheet")
    script(src="/scripts/script.js")
    title= "GameGo | " + title
  body
    .header
      .header-content
        a(href="/shop").logo
          span Game
          span.red Go
        a(href="/shop/games") GAMES
        a(href="/shop/gameconsoles") CONSOLES
        a(href="/shop/accessories") ACCESSORIES
    block content
    .footer 
      div 
        | Made by 
        a(href="https://www.clarencechan.dev") Clarence Chan
        |  using MongoDB, Express, and Node. 
      div 
        | View the code at this project's 
        a(href="https://github.com/clarencechaan/inventory-app") GitHub repo.
