body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* INDEX */

.header {
  width: 100%;
  background-color: rgba(4, 4, 18, 0.92);
  display: flex;
  justify-content: center;
  padding: 0 60px 0 60px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  backdrop-filter: blur(8px);
  z-index: 2;
}

.header-content {
  width: 1120px;
  display: flex;
  align-items: center;
  column-gap: 96px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: white;
}

.logo {
  font-family: "Anton", sans-serif;
  font-size: 60px;
  margin-right: auto;
}

.header-content > a {
  transition: 0.3s;
}

.header-content > a:not(:first-child):hover {
  color: red;
}

.red {
  color: red;
}

.hero,
.main {
  padding: 0 60px 0 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  background-color: lightgray;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-image: url(/images/hero.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.hero-content {
  width: 1120px;
}

.hero-content > div {
  max-width: 700px;
}

.hero-content .big {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  margin-top: 28px;
}

.shop-now-btn {
  margin-top: 40px;
  width: 140px;
  height: 40px;
  color: white;
  border-radius: 3px;
  background-color: rgb(254, 76, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  transition: 0.3s;
}

.shop-now-btn.black {
  background-color: black;
}

.shop-now-btn.black:hover {
  background-color: rgb(53, 53, 53);
}

.hero-content .shop-now-btn:hover {
  background-color: rgb(255, 119, 122);
}

.hero-content > div:last-child {
  flex: 1;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-categories {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  width: 1120px;
}

.shop-category {
  width: 350px;
  height: 265px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.shop-category .shop-btn {
  padding: 10px 28px 10px 28px;
  background-color: white;
}

.shop-category a {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  transition: 0.3s;
  padding: 0 12px 0 12px;
}

.shop-category a:hover {
  color: rgb(71, 195, 195);
}

.new-arrivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.underline {
  width: 60px;
  height: 6px;
  background-color: rgb(254, 76, 80);
}

.category-picker {
  margin-top: 44px;
}

.category-picker button {
  background-color: white;
  border: 1px solid rgb(226, 226, 226);
  border-right: none;
  height: 40px;
  min-width: 105px;
  padding: 0 25px 0 25px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.category-picker button:first-child {
  border-radius: 4px 0 0 4px;
}

.category-picker button:last-child {
  border-right: 1px solid rgb(226, 226, 226);
  border-radius: 0 4px 4px 0;
}

.category-picker button.selected {
  background-color: rgb(254, 76, 80);
  color: white;
}

.category-picker button.selected:hover {
  background-color: rgb(255, 119, 122);
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 1120px;
}

.item {
  width: 221px;
  height: 380px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.item .item-preview-content {
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  border-right: 1px solid rgb(226, 226, 226);
}

.item:last-child .item-preview-content,
.item:nth-child(5n) .item-preview-content {
  border-right: none;
}

.item-preview-content .item-console {
  color: gray;
  font-weight: 400;
}

.item-preview-content .item-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.item button.add-to-cart {
  height: 40px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  background-color: rgb(254, 76, 80);
  color: white;
  cursor: pointer;
}

.item .item-window {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: 0.3s;
  border: 2px solid rgb(226, 226, 226);
  box-sizing: border-box;
  z-index: 1;
}

.item > .item-window:hover {
  opacity: 1;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.item-preview img {
  height: 221px;
  object-fit: contain;
  object-position: center;
}

.item-preview .item-name {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 8px;
}

.item-preview .item-price {
  color: rgb(254, 76, 80);
  font-weight: 700;
  font-size: 16px;
}

.item-preview .spacer {
  height: 40px;
}

.deal-of-the-week {
  margin-top: 41px;
  height: 540px;
  width: 100vw;
  padding: 0 60px 0 60px;
  box-sizing: border-box;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/switch.jpg");
  background-size: cover;
  background-position: center;
}

.deal-content {
  width: 1120px;
  display: flex;
}

.deal-content > div {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  margin-top: 48px;
}

.timer .circle {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle .count {
  font-weight: 700;
  font-size: 48px;
  color: rgb(254, 76, 80);
  line-height: 48px;
}

.circle .unit {
  font-weight: 600;
}

.best-sellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.best-sellers > .items {
  margin-top: 40px;
}

.info-bar {
  height: 100px;
  width: 1120px;
  display: flex;
}

.info-item {
  flex: 1;
  background-color: rgb(243, 243, 243);
  border-right: 1px solid white;
  display: flex;
  align-items: center;
}

.info-item img {
  width: 30px;
  height: 30px;
  margin-left: 25px;
}

.info-item .info-texts {
  padding-left: 22px;
  font-weight: 600;
}

.info-item .info-texts > :last-child {
  font-size: 12px;
  color: rgb(104, 104, 104);
}
